@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand');

.home {
    text-decoration: none;
    font-family: 'Gochi Hand', sans-serif;
}

.home:visited {
    color: black;
}

h1:hover {
    font-size: 40px;
    transition: ease-out 1s;
}